@import "~react-image-gallery/styles/css/image-gallery.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.app {
  color: #1f2232;
}

.header, .header-brand, .header-section {
  background-color: #893168;
  color: #eaeaea;
}

.home-profile {
  margin-top: 5%;
  max-height: 300px;
  max-width: 60%;
}

.dance-page, .home-page, .project-page, .blog-page {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.dance-heading, .dance-title, .home-header, .project-header, .project-title, .blog-header {
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: xx-large;
  color: #893168;
  font-weight: 100;
}

.home-header {
  margin-top: 2%;
}

.dance-link:hover {
  color: #dabfff;
}

a:hover, a:active {
  color: #dabfff;
}

a, a:link, a:visited {
  color: #893168;
}

.App-basic, .error-page {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1f2232;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
